.navb {
    display: flex;
}
.sign-in {
    display: flex;
    padding-left: 50em;
    justify-content: center;
    width: 100%;
}
.logo-icon {
    padding-left: 0.5rem;
    width: 25%;
    
}
.signInBtn {
    height: 2.5em;
    background-color: blue;
    border-radius: 10%; 
    width: 100%;   
}
.btn-text {
    color: white;

}
.logo-image{
    width: 100%;
    padding-left: 14em;
}

img {
    width: 60%;
    background-color:red;
    
    
}

.full-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    border:2px;
    border-color: black;
    border-radius: 10%;
    background-color: lightslategray;
    
    
}


