body{
    background-color:lightgray;
    z-index: 1;
}
.navb {
    display: flex;
}
.sign-in {
    display: flex;
    padding-left: 50em;
    justify-content: center;
    width: 100%;
}
.logo-icon {
    padding-left: 0.5rem;
    width: 25%;
    
}
.signInBtn {
    height: 2.5em;
    background-color: blue;
    border-radius: 10%; 
    width: 100%;   
}
.btn-text {
    color: white;

}
.logo-image{
    background-color:lightgray;
    padding-left: 25em;
}

img {
    width: 52%;
    opacity:0.6;
    z-index: 0;
    
}

fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    margin-left: 35%;
   
    background-color:white; 
    margin-bottom: 10em;
    font-family: Avenir;
    
}
input {
    border : 1px solid #C1C5C8; 
    box-sizing: border-box;
    padding: 8px ;
    border-radius: 1px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px 8px 45px 8px;
}
input:active,
input:focus {

    border-color: grey;
    box-shadow:  0 0 20px rgba(8, 129, 221, 0.74);
}
footer{
    
    box-sizing: border-box;
    
    flex-direction:column;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: smaller;
}
form button {
    width: 100%;
    background-color: rgb(10, 116, 238);
    color: white;
    border: 0 white;
    border-radius: 5px;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-top: 0.1em;
    margin-bottom: 2%;
    
}


.ul-footer {
    display:flex;
    flex-direction: row;
    list-style: none;
    text-align: center; 
    padding-left: 45%; 
}

li{
    display: inline;
    align-items: center;
    align-items: center;
    padding-left: 0.7em;
}
.footer-paragraph{
    text-align: center;
}
.formHeading {
    margin-left: 12%;
}
.subHeading {
    text-align: center;
}
.email{
    display: flex;
    flex-direction: column;
}
.phone {
    display: flex;
    flex-direction: column;
}
.password {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 8px ;
}
.recaptcha{
    font-size: smaller;
    background-color: grey;
    width: 100%;
    margin-top: 5%;
    justify-content: space-around;
    
}
.agreements{
    background-color: grey;
    text-align:center;
}
#terms {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
}

#captcha {
    text-align: center;
    font-size: 11px;
    background: #ddd;
    position: relative;
    bottom: 0;
    width: 33.3em;
    padding: 20px 0;
    margin-left: -23px;
}


