.navb {
    display: flex;
}
.sign-in {
    display: flex;
    padding-left: 50em;
    justify-content: center;
    width: 100%;
}
.logo-icon {
    padding-left: 0.5rem;
    width: 25%;
    
}
.signInBtn {
    height: 2.5em;
    background-color: blue;
    border-radius: 10%; 
    width: 100%;   
}
.btn-text {
    color: white;

}
.logo-image{
    
    padding-left: 25em;
}

img {
    width: 45%;
    background-color:red;
    
    
}

fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    margin-left: 35%;
   
    background-color:white; 
    margin-bottom: 10em;
    font-family: Avenir;
    
}
input {
    border : 1px solid #C1C5C8; 
    box-sizing: border-box;
    padding: 8px ;
    border-radius: 1px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px 8px 45px 8px;
}
input:active,
input:focus {
    border: 1px solid #52A8EC;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
footer{
    
    box-sizing: border-box;
    
    flex-direction:column;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: smaller;
}

.ul-footer {
    display:flex;
    flex-direction: row;
    list-style: none;
    text-align: center; 
    padding-left: 45%; 
}

li{
    display: inline;
    align-items: center;
    align-items: center;
    padding-left: 0.7em;
}
.footer-paragraph{
    text-align: center;
}
.formHeading {
    margin-left: 12%;
}
.subHeading {
    text-align: center;
}
.email{
    display: flex;
    flex-direction: column;
}
.phone {
    display: flex;
    flex-direction: column;
}
.password {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 8px ;
}


