body{
    background-color:lightgray;
    z-index: 1;
}
.navb {
    display: flex;
}
.sign-in {
    display: flex;
    padding-left: 50em;
    justify-content: center;
    width: 100%;
}
.logo-icon {
    padding-left: 0.5rem;
    width: 25%;
    
}
.signInBtn {
    height: 2.5em;
    background-color: blue;
    border-radius: 10%; 
    width: 100%;   
}
.btn-text {
    color: white;
}
.logo-top {
    padding-left: 45%;
}
.logo1 {
    width: 19%;
    

}
ul {
    display: flex;
    flex-direction: row;
    list-style: none ;
    padding-left: 33%;
}
li {
    width : 5%;
    padding : 0;
    margin: 0;
}
.li-images img {
    padding: 0;
    margin: 0;
    width: 20%;
}


fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    margin-left: 35%;
   
    background-color:white; 
    margin-bottom: 10em;
    font-family: Avenir;
    
}
input {
    border : 1px solid #C1C5C8; 
    box-sizing: border-box;
    padding: 8px ;
    border-radius: 1px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px 8px 45px 8px;
}
input:active,
input:focus {

    border-color: grey;
    box-shadow:  0 0 20px rgba(8, 129, 221, 0.74);
}
footer{
    
    box-sizing: border-box;
    
    flex-direction:column;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: smaller;
}

.ul-footer {
    display:flex;
    flex-direction: row;
    list-style: none;
    text-align: center; 
    padding-left: 45%; 
}

li{
    display: inline;
    align-items: center;
    align-items: center;
    padding-left: 0.7em;
}
.footer-paragraph{
    text-align: center;
}
.formHeading {
    margin-left: 12%;
}
.subHeading {
    text-align: center;
}
.email{
    display: flex;
    flex-direction: column;
}
.phone {
    display: flex;
    flex-direction: column;
}
.password {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 8px ;
}
.recaptcha{
    font-size: smaller;
    background-color: grey;
    width: 100%;
    margin-top: 5%;
    justify-content: space-around;
    
}
.footer-paragraph{
    background-color: grey;
}


