.navb {
    display: flex;
}
.sign-in {
    display: flex;
    padding-left: 50em;
    justify-content: center;
    width: 100%;
}
.logo-icon {
    padding-left: 0.5rem;
    width: 25%;
    
}
.signInBtn {
    height: 2.5em;
    background-color: blue;
    border-radius: 10%; 
    width: 100%;   
}
.btn-text {
    color: white;
}
.full-form{
    display: inline-block;
    align-items: center;
    padding: 10em 10em 5em 30em;
    border:2px;
    border-color: black;
    border-radius: 10%;
    background-color: lightslategray;
    
    
}
img{
    width:100%;
    } 


.heading {
    width: 450px;
    background-color: lightblue;
}