.navb {
    display: flex;
}
.sign-in {
    display: flex;
    padding-left: 50em;
    justify-content: center;
    width: 100%;
}
.logo-icon {
    padding-left: 0.5rem;
    width: 25%;
    
}
.signInBtn {
    height: 2.5em;
    background-color: blue;
    border-radius: 10%; 
    width: 100%;   
}
.btn-text {
    color: white;

}
.logo-image{
    
    padding-left: 25em;
}

img {
    width: 45%;
    background-color:red;
    
    
}

fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    margin-left: 35%;
    border-color:25px black;
    background-color:white;
    
    
}
.formHeading {
    margin-left: 12%;
}
.subHeading {
    text-align: center;
}


